# Ignore Python virtual environments
.env/
*.env.*
*.env
*.venv/
.env.docker

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database and data files
data/*

# Ignore all directories that start with tmp
*/tmp*

# Ignore OS-specific files
.DS_Store
Thumbs.db


