dagster==1.8.12
dagster-webserver==1.8.12
dagster-graphql==1.8.12
dagster-duckdb==0.24.12
dagster_duckdb_polars==0.24.12
duckdb
requests
fastapi==0.115.2
starlette==0.40.0
uvicorn
polars
streamlit
authlib
httpx
titlecase==2.4.1